.action-button {
    border: 2px solid var(--blue-100);
    color: var(--blue-100);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
    cursor: pointer;
    line-height: 1;
}

@keyframes buttonBounce {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.98);
    }

    60% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.action-button:hover {
    animation: buttonBounce 0.4s ease;
    background-color: var(--blue-100);
    color: white;
}

.action-button:hover img {
    content: url("../img/welcome/Editar_1.svg");
}