# Cache Python
__pycache__/
*.py[cod]

# Banco de dados local
*.sqlite3
*.db
media/

# Arquivos temporários
*.log
*.tmp

# migrações
**/migrations/
!*/migrations/__init__.py

# Variáveis de ambiente
.venv
.env
ll_env/


.vscode/