.text-custom {
    color: #373737 !important;
}

.text-muted-custom {
    color: #898C8F !important;
}

.filtros .filtro>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.filtros .filtro i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem !important;
}

.filtros .filtro label {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
}

.action-button {
    border: 2px solid var(--green-500);
    color: var(--green-500);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
    cursor: pointer;
    line-height: 1;
}

@keyframes buttonBounce {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.98);
    }

    60% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.action-button:hover {
    animation: buttonBounce 0.4s ease;
    background-color: var(--green-500);
    color: white;
}

.action-button:hover img {
    content: url("../img/schedule_list/icone_criar_nova_escala_minhas_escalas_1.svg");
}

.btn-excluir-escala {
    border: 2px solid #D2281E;
    color: #D2281E;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
    cursor: pointer;
    line-height: 1;
}

.btn-excluir-escala:hover {
    animation: buttonBounce 0.4s ease;
    background-color: #D2281E;
    color: white;
}

.btn-excluir-escala:hover img {
    content: url("../img/schedule_list/icone_excluir_escala_minhas_escalas_1.svg");
}