{% if messages %}
    {% for message in messages %}
        <script>
            console.log("Entrou no message-base.html - Mensagem: {{ message }} - Tags: {{ message.tags }}");
        </script>
        {% if 'danger' in message.tags %}
            {% include 'messages/error.html' with show_modal=True text=message %}
        {% elif 'success' in message.tags %}
            {% include 'messages/success.html' with show_modal=True text=message %}
        {% elif 'warning' in message.tags %}
            {% include 'messages/warn.html' %}
        {% else %}
            {% include 'messages/confirm.html' %}
        {% endif %}
    {% endfor %}
{% endif %}