:root{
    --background-gray: #F4F8FF;
    --background-blue: #143886;
    
    --white-full: #FFFFFF;
    --green-100: #60FFCF;
    --green-500: #21C694;

    --blue-100: #143886;
    --blue-500: #194CBA;
    --blue-950: #0B204D;

    --orange-100: #E6781E;
    --orange-500: #C95C00;
    --orange-950: #944502;

    --red-100: #D2281E;

    --gray-100: #37373780;
    --gray-300: #373737;

    --black-25: #00000040;
}