{% extends 'bases/base.html' %}
{% load static %}

{% block menu_escalas_active_class %}is-active{% endblock %}
{% block menu_escalas_expanded %}true{% endblock %}
{% block menu_escalas_show_class_1 %}show{% endblock %}
{% block menu_escalas_show_class_2 %}show{% endblock %}
{% block submenu_criar_escala_active_class %}is-active{% endblock %}

{% block content %}
<div class="float d-flex align-items-center gap-3 mb-3">
    <a href="{% url 'hospital:schedule_list' %}" class="btn-voltar d-flex align-items-center justify-content-center text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16" fill="none"
            stroke="currentColor" stroke-width="1" class="svg-voltar">
            <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" 
                fill="currentColor"/>
        </svg>
    </a>
</div>
<div>
    <h1 class="fs-2 text-primary fw-bold m-0">Criar escala</h1>
    <p class="paragrafo-secao opacity-50 mb-3 fs-6 text-custom">
        “Organize seus plantões sem complicação, a qualquer hora e em qualquer lugar.”
    </p>
</div>

<div class="d-flex bloco-escala p-4 mt-4 rounded-4 shadow justify-content-between">
    <!-- LADO ESQUERDO: Formulário -->
    <div class="w-100">
        <div class="mb-2">
            <h2 class="mb-1 fw-bold text-primary" style="font-size: 1.5em;">Criando uma nova escala</h2>
        </div>

        <hr>

        <!-- Exibe o erro, se existir -->
        <!-- {% if error_message %}
        <div class="alert alert-danger w-100 mb-3" role="alert">
            {{ error_message }}
        </div>
        {% endif %} -->

        <form action="" method="POST" class="d-flex flex-column gap-4 w-100">
            {% csrf_token %}

            <!-- Linha 1: Nome e Setor -->
            <div class="d-flex gap-3">
                <div style="flex: 1;">
                    <label for="nome_escala" class="d-flex align-items-center gap-2 mb-2">
                        <i class="bi bi-tag-fill" style="font-size: 20px;"></i>
                        <p class="mb-0">Nome da escala:</p>
                    </label>
                    <input type="text" class="form-control" required placeholder="| Insira o nome da escala"
                        name="nome_escala" id="nome_escala" style="height: 44px;" value="{{ request.POST.nome_escala }}">
                </div>

                <div style="flex: 1;">
                    <label for="setor_escala" class="d-flex align-items-center gap-2 mb-2">
                        <i class="bi bi-diagram-3-fill" style="font-size: 20px;"></i>
                        <p class="mb-0">Setor:</p>
                    </label>
                    <select name="setor_escala" id="setor_escala" class="form-control" required style="height: 44px;">
                        <option value="" disabled {% if not request.POST.setor_escala %}selected{% endif %}>Selecione o setor dessa escala</option>
                        {% for dept in departments %}
                        <option value="{{ dept.id }}" {% if request.POST.setor_escala == dept.id|stringformat:"s" %}selected{% endif %}>{{ dept.name }}</option>
                        {% empty %}
                        <option disabled>Não há setores disponíveis</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Linha 2: Datas -->
            <div class="d-flex gap-3">
                <div style="flex: 1;">
                    <label for="periodo_inicio" class="d-flex align-items-center gap-2 mb-2">
                        <i class="bi bi-calendar-week-fill" style="font-size: 20px;"></i>
                        <p class="mb-0">Data de Início:</p>
                    </label>
                    <input type="date" class="form-control" required name="periodo_inicio" id="periodo_inicio" style="height: 44px;" value="{{ request.POST.periodo_inicio }}">
                </div>

                <div style="flex: 1;">
                    <label for="periodo_fim" class="d-flex align-items-center gap-2 mb-2">
                        <i class="bi bi-calendar-week-fill" style="font-size: 20px;"></i>
                        <p class="mb-0">Data Final:</p>
                    </label>
                    <input type="date" class="form-control" required name="periodo_fim" id="periodo_fim" style="height: 44px;" value="{{ request.POST.periodo_fim }}">
                </div>
            </div>

            <!-- Botão -->
            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-outline-success action-button px-4 text-nowrap">Próximo</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
