{% extends 'bases/base.html' %}
{% load static %}

{% block menu_escalas_active_class %}is-active{% endblock %}
{% block menu_escalas_expanded %}true{% endblock %}
{% block escala_menu_icon_rotation %}rotate{% endblock %}
{% block menu_escalas_show_class_1 %}show{% endblock %}
{% block menu_escalas_show_class_2 %}show{% endblock %}
{% block submenu_minhas_escalas_active_class %}is-active{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/clocklet@0.3.0/css/clocklet.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" />
<link rel="stylesheet" href="{% static 'hospital/css/calendar.css' %}" />
<link rel="stylesheet" href="{% static 'hospital/css/schedule-detail.css' %}" />
<link rel="stylesheet" href="{% static 'hospital/css/shifts-popups.css' %}">


<div class="float d-flex align-items-center gap-3 mb-3">
    <a href="{% url 'hospital:schedule_list' %}" class="btn-voltar d-flex align-items-center justify-content-center text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16" fill="none"
            stroke="currentColor" stroke-width="1" class="svg-voltar">
            <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" 
                fill="currentColor"/>
        </svg>
    </a>
</div>
<div class="card border-0 rounded-4 mb-4 p-4" style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);">
        <!-- Título principal -->
        <div class="d-flex justify-content-between align-items-start mb-3">
            <div>
                <h2 class="text-primary fw-bold mb-2 pb-1" style="width: 200%; font-size: 1.7em;">
                    #{{schedule.id}} - {{ schedule.name }}
                </h2>
                <div class="d-flex align-items-center mb-1 gap-2" style="color: var(--blue-100);">
                    <img src="{% static 'img/main/calendario.svg' %}" alt="Calendar" width="20" height="20" class="me-2">
                    <span>
                        <strong style="font-size: 1.1em;">Período:</strong> {{ schedule.start_date|date:"d/m/Y" }} - {{ schedule.end_date|date:"d/m/Y" }}
                    </span>
                </div>
            </div>
            {% if not is_doctor and schedule.status == "Rascunho" %}
                <div class="d-flex gap-2">
                    <button id="delete-schedule" class="bnt excluir-schedule action-button" data-id="{{ schedule.id }}">
                        <i class="icon icon-excluir"></i>
                        Excluir
                    </button>
                    <button class="btn action-button editar" onclick="editarEscala()">
                        <i class="icon icon-editar"></i>
                        Editar
                    </button>

                    <button class="btn action-button publicar" onclick="publicarEscala({{schedule.id}})">
                        <i class="icon icon-publicar"></i>
                        Publicar
                    </button>
                </div>
            {% endif %}
        </div>

        <hr>

        <!-- Informações em colunas -->
        <div class="gap-3 d-flex flex-wrap justify-content-between mt-2">
            <!-- Setor -->
            <div class="flex-shrink-0" style="min-width: 220px;">
                <div class="d-flex flex-column">
                    <span class="fw-medium mb-1">Setor:</span>
                    <div class="d-inline-flex align-items-center">
                        <img src="{% static 'hospital/img/department.svg' %}" alt="Department" width="20" height="20" class="me-2">
                        <span >{{ schedule.department }}</span>
                    </div>
                </div>
            </div>

            <!-- Plantões vazios -->
            <div class="flex-shrink-0" style="min-width: 220px;">
                <div class="d-flex flex-column">
                    <span class="fw-medium mb-1">Plantões vazios:</span>
                    <div class="d-inline-flex align-items-center">
                    <span class="status-icon {% if schedule.num_unallocated_shifts > 0 %}vazios{% else %}completo{% endif %} me-2"></span>
                    <span id="span-num-plantao-warning">
                        {% if schedule.num_unallocated_shifts > 0 %}
                            {{ schedule.num_unallocated_shifts|stringformat:"02d" }} Plantões
                        {% else %}
                            Nenhum plantão vazio
                        {% endif %}
                    </span>
                    </div>
                </div>
            </div>

            <!-- Médicos alocados -->
            <div class="flex-shrink-0" style="min-width: 220px;">
                <div class="d-flex flex-column">
                    <span class="fw-medium mb-1">Médicos alocados:</span>
                    <div class="d-inline-flex align-items-center">
                        <img src="{% static 'hospital/img/doctors.svg' %}" alt="Check" width="20" height="20" color"blue" class="me-2 text-success">
                        <span id="span-num-medicos" >{{ schedule.num_all_allocations|stringformat:"02d" }} Médicos</span>
                    </div>
                </div>
            </div>

            <!-- Status da escala -->
            <div class="flex-shrink-0" style="min-width: 220px;">
                <div class="d-flex flex-column">
                    <span class="fw-medium mb-1">Status:</span>
                    <div class="d-inline-flex align-items-center">
                        <span class="status-icon {{ schedule.status|lower }}"></span>
                        <span>{{ schedule.status }}</span>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- calendar -->
<div id="calendar-container" class="p-4 bg-white  mt-3 rounded-4" style="position: relative; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);">
    <!-- header do calendario -->
    <div class="d-flex mb-3 justify-content-between align-items-center header-controls">

        <!-- Navegação de tipo de visualização -->
        <ul class="nav nav-pills calendar-nav border m-0" style="border-radius: 7px; padding: 0;">
            <li class="nav-item">
                <a class="nav-link" data-view="timeGridDay" href="#">Dia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-view="timeGridWeek" href="#">Semana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-view="dayGridMonth" href="#">Mês</a>
            </li>
        </ul>

        <!-- Botões de navegação -->
        <div class="d-flex align-items-center bnt-nav-calendar">
            <button class="btn btn-sm btn-outline-secondary left-poke" id="prev">&lt;</button>
            <span id="current-month" class="mx-3 fw-bold"></span>
            <button class="btn btn-sm btn-outline-secondary right-poke" id="next">&gt;</button>
        </div>

        <!-- Botão limpar -->
         {% if not is_doctor and schedule.status == "Rascunho" %}
         <button class="btn btn-sm btn-link text-danger" id="clear-all">Limpar tudo</button>
         
         {% else %}
            <span class="ps-5 pe-5"></span>
         {% endif %}
         
        
    </div>
    <!-- Calendário -->
    <div id="calendar"></div>
    {% include 'hospital/shift-detail-modal.html' %}
</div>
{% if not is_doctor %}
{% include 'hospital/shift-save.html' %}
{% endif %}

<script>
    window.hospital = {
        urls: {
            createShift: "{% url 'hospital:shift_create' %}",
            updateShift: "{% url 'hospital:shift_update' 0 %}".replace("0", "<id>"),
            deleteShift: "{% url 'hospital:shift_delete' 0 %}".replace("0", "<id>"),
            publishSchedule: "{% url 'hospital:schedule_publish' 0 %}".replace("0", "<id>"),
            viewShift: "{% url 'hospital:shift_view' 0 %}".replace("0", "<id>"),
        },

        schedule: {
            id: "{{ schedule.id }}",
            startDate: "{{ schedule.start_date|date:'Y-m-d' }}",
            endDate: "{{ schedule.end_date|date:'Y-m-d' }}",
            department: "{{ schedule.department.name }}",
            createdBy: "{{ manager_name }}",
        },

        data: {
            shifts: JSON.parse(`{{ shifts|escapejs }}`),
            doctors: (() => {
                try {
                const raw = `{{ doctors|escapejs }}`;
                return raw ? JSON.parse(raw) : [];
                } catch (e) {
                console.error("Erro ao fazer parse de doctors:", e);
                return [];
                }
            })(),
            allocatedDoctors: new Set(),
        },

        static: {
            defaultPhoto: "{% static 'hospital/img/default_profile.png' %}",
            rejectedIcon: "{% static 'hospital/img/status/rejected.svg' %}",
            conflictedIcon: "{% static 'hospital/img/status/conflicted.svg' %}"
        },
    };
</script>
        
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/pt-br.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clocklet@0.3.0"></script>

<script src="{% static 'hospital/js/utils.js' %}"></script>
<script src="{% static 'hospital/js/calendar.js' %}"></script>
<script src="{% static 'hospital/js/shifts.js' %}"></script>
<script src="{% static 'hospital/js/schedule.js' %}"></script>
{% endblock %}