{% extends 'bases/base.html' %}
{% load static %}

{% block plantao_menu_active %}is-active{% endblock %}
{% block plantao_menu_expanded %}true{% endblock %}
{% block plantao_menu_icon_rotation %}rotate{% endblock %}
{% block plantao_menu_show %}show{% endblock %}
{% block plantao_meus_active %}is-active{% endblock %}

{% block content %}
<div class="float d-flex align-items-center gap-3 mb-3">
    <a href="javascript:history.back()" class="btn-voltar d-flex align-items-center justify-content-center text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16" fill="none"
            stroke="currentColor" stroke-width="1" class="svg-voltar">
            <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" 
                fill="currentColor"/>
        </svg>
    </a>
</div>

<div>
    <h1 class="mb-2 fs-2 text-primary fw-bold">Ver meu plantão</h1>
    <p class="paragrafo-secao opacity-50 mb-3 fs-6">“Organize seus plantões sem complicação, a qualquer hora
        e em qualquer lugar.”</p>
</div>


<div class="row d-flex flex-row flex-nowrap justify-content-between col-12">
    <div class="detalhe me-4 col-8 d-flex flex-column p-5 rounded-4 shadow border">
        <div class="justify-content-between d-flex">
            <div class="mb-2">
                <h3 class="mb-1 text-primary fw-bold" style="font-size: 1.5em;">#{{ shift.id }} - {{ shift.schedule.department.name }}</h3>
            </div>
        </div>
        <hr>
        <div class="data row-sm-2 mb-2 d-flex justify-content-start flex-nowrap overflow-auto gap-3">
            <div class="campo flex-grow-0" style="min-width: 200px;">
                <div>Horário:</div>
                <div class="d-flex align-items-center pb-2 gap-2">
                    <img src="{% static 'img/main/horario.svg' %}" alt="" width="20" height="20">
                    <label for="horario" class="form-label m-0">{{ shift.start_time }}h - {{ shift.end_time }}h</label>
                </div>
            </div>
            <div class="campo flex-grow-0" style="min-width: 200px;">
                <div>Data:</div>
                <div class="d-flex align-items-center pb-2 gap-2">
                    <img src="{% static 'img/main/calendario.svg' %}" alt="" width="20" height="20">
                    <label for="data" class="form-label m-0">{{ shift.date }}</label>
                </div>
            </div>
            <div class="campo flex-grow-0" style="min-width: 200px;">
                <div>Hospital:</div>
                <div class="d-flex align-items-center pb-2 gap-2">
                    <img src="{% static 'img/main/hospital.svg' %}" alt="" width="20" height="20">
                    <label for="hospital" class="form-label m-0">Hospital Walfredo Gurgel</label>
                </div>
            </div>
        </div>
        <div class="data row-sm-2 mb-4" style="max-width: 100%;">
            <label for="descricao" class="form-label fw-semibold mt-2">Descrição</label>
            <div style="text-align: justify; max-height: 150px; overflow-y: auto; word-break: break-word;">
                {% if shift.description %}
                    <p class="mb-0">{{ shift.description|linebreaksbr }}</p>
                {% else %}
                    <p class="mb-0">Nenhuma descrição inserida!</p>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="detalhe col-sm-4 d-flex flex-column p-5 rounded-4 shadow border">
        <div class="justify-content-between d-flex">
            <div class="mb-2">
                <h3 class="mb-1 text-primary fw-bold" style="font-size: 1.5em;">Equipe escalada</h3>
            </div>
        </div>
        <hr>

        {% for doctor in doctors %}
        <div class="scroll-y-auto">
            <div class="overflow-auto">
                <div class="w-80 border p-2 rounded-3 mb-3">
                    <a href="#" class="text-decoration-none d-flex align-items-center gap-3">
                        {% if doctor.professional.profile_picture %}
                        <img src="{{ doctor.professional.profile_picture.url }}" alt="Foto de perfil" width="50" height="50" class="rounded-circle" />
                        {% else %}
                        <i class="bi bi-person-fill" style="font-size: 20px; color: #143886;"></i>
                        {% endif %}
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-semibold text-primary">{{ doctor.professional.username }}</p>
                            <p class="mb-0 text-muted">{{ doctor.first_specialty }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}